.container {
    max-width: 900px;
    margin: 30px auto;
    background: purple;
    padding: 20px;
    box-shadow: 0 0 10px rgba(109, 42, 42, 0.1);
}

.header{
    text-align: center;
    margin-bottom: 30 px;
}

.header h1{
    margin: 0;
    font-size: 36px;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: goldenrod;
    
}

.header h2{
    margin: 10px 0 0;
    font-weight: normal;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;

}

.content
{
    display: flex;
    justify-content: space-between;
}

.photo img
{
    max-width: 50%;
    border-radius: 50px;
    margin-top: 10px;
    align-self: center;
}

section{
    margin-bottom: 20px;
}

.left-column{
    max-width: 300px;
}